## Date Extracter

In [184]:
import pandas as pd

#### extracting lines

In [185]:
lines = []

In [186]:
with open('dates.txt') as file:
    for line in file:
        line = line.rstrip()                    #rstrip() strips the string's trailing characters, default spaces
        lines.append(line)

In [187]:
lines[:5]

['03/25/93 Total time of visit (in minutes):',
 '6/18/85 Primary Care Doctor:',
 'sshe plans to move as of 7/8/71 In-Home Services: None',
 '7 on 9/27/75 Audit C Score Current:',
 '2/6/96 sleep studyPain Treatment Pain Level (Numeric Scale): 7']

### making series

In [188]:
ser = pd.Series(lines, name='Text')

In [189]:
ser.head()

0           03/25/93 Total time of visit (in minutes):
1                         6/18/85 Primary Care Doctor:
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                  7 on 9/27/75 Audit C Score Current:
4    2/6/96 sleep studyPain Treatment Pain Level (N...
Name: Text, dtype: object

### converting series to dataframe

In [190]:
frame = pd.DataFrame(ser)

In [191]:
frame.head()

                                                Text
0         03/25/93 Total time of visit (in minutes):
1                       6/18/85 Primary Care Doctor:
2  sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:
4  2/6/96 sleep studyPain Treatment Pain Level (N...

### extracting first few dates

In [192]:
import re

In [193]:
frame['Dates1'] = frame['Text']

In [194]:
frame['Dates1'].head()

0           03/25/93 Total time of visit (in minutes):
1                         6/18/85 Primary Care Doctor:
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                  7 on 9/27/75 Audit C Score Current:
4    2/6/96 sleep studyPain Treatment Pain Level (N...
Name: Dates1, dtype: object

#### first few dates

In [195]:
def extractor1(x):
    dt = re.search("\d{1,2}[/-]\d{1,2}[/-]\d{2,4}", x)
    if(dt != None):
        return dt.group(0)
    else:
        return None

In [196]:
frame['Dates1']=frame['Dates1'].apply(extractor1)

In [197]:
frame.head()

                                                Text    Dates1
0         03/25/93 Total time of visit (in minutes):  03/25/93
1                       6/18/85 Primary Care Doctor:   6/18/85
2  sshe plans to move as of 7/8/71 In-Home Servic...    7/8/71
3                7 on 9/27/75 Audit C Score Current:   9/27/75
4  2/6/96 sleep studyPain Treatment Pain Level (N...    2/6/96

In [198]:
frame['Dates1'].count()

125

In [199]:
frame[125:200].head()

                                                  Text Dates1
125  s The patient is a 44 year old married Caucasi...   None
126  .10 Sep 2004 - Intake at EEC for IOP but did n...   None
127  see above and APS eval of 26 May 1982 Social H...   None
128  Tbooked for intake appointment at Sierra Vista...   None
129                    06 May 1972 SOS-10 Total Score:   None

#### extracting more dates after 124th row

In [200]:
def extractor2(x):
    dt2 = re.search("\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}", x)
    if(dt2 != None):
        return dt2.group(0)
    else:
        return None

In [201]:
frame['Dates2'] = frame['Text']

In [202]:
frame['Dates2']=frame['Dates2'].apply(extractor2)

In [203]:
#frame[125:200]
frame['Dates2'].count()

69

In [204]:
frame[193:210]

                                                  Text Dates1       Dates2
193  s 22 year old single Caucasian/Latino woman, u...   None  18 Jan 1995
194  April 11, 1990 CPT Code: 90791: No medical ser...   None         None
195  MRI May 30, 2001 empty sella but no problems w...   None         None
196  .Feb 18, 1994: made a phone call to Mom and Mo...   None         None
197  Brother died February 18, 1981 Parental/Caregi...   None         None
198  none; but currently has appt with new HJH PCP ...   None         None
199  .Came back to US on Jan 24 1986, saw Dr. Quack...   None         None
200    July 26, 1978 Total time of visit (in minutes):   None         None
201  father was depressed inpatient at DFC December...   None         None
202                   May 15, 1989 SOS-10 Total Score:   None         None
203  September 06, 1995 Total time of visit (in min...   None         None
204  Mar. 10, 1976 CPT Code: 90791: No medical serv...   None         None
205                    .Got back to U.S. Jan 27, 1983.   None         None
206  Queen Hamilton in Bonita Springs courthouse.  ...   None         None
207  r August 12 2004 - diagnosed with Parkinson's ...   None         None
208                            September 01, 2012 Age:   None         None
209    July 25, 1983 Total time of visit (in minutes):   None         None

#### extracting after the 193rd row

In [205]:
def extractor3(x):
    dt3 = re.search("(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{2},* \d{4}", x)
    if(dt3 != None):
        return dt3.group(0)
    else:
        return None

In [206]:
frame['Dates3'] = frame['Text']

In [207]:
frame['Dates3']=frame['Dates3'].apply(extractor3)

In [208]:
frame['Dates3'].count()

30

In [209]:
frame['Text'][229]

't Allergies Sulfa (Sulfonamide Antibiotics) - Renal Toxicity : pt developed acute interstitial nephritis on Bactrim (June 2011)'

In [210]:
frame[227:250].head()

                                                  Text Dates1 Dates2 Dates3
227  September. 15, 2011 Total time of visit (in mi...   None   None   None
228  s 20 yo M carries dx of BPAD, presents for psy...   None   None   None
229  t Allergies Sulfa (Sulfonamide Antibiotics) - ...   None   None   None
230  B/R Walnut Ridge. Raised with sister and paren...   None   None   None
231  50 yo DWF with a history of alcohol use disord...   None   None   None

#### after 226th row

In [211]:
def extractor4(x):
    dt4 = re.search("(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}", x)
    if(dt4 != None):
        return dt4.group(0)
    else:
        return None

In [212]:
frame['Dates4']=frame['Text']

In [213]:
frame['Dates4'] = frame['Dates4'].apply(extractor4)

In [214]:
frame['Dates4'].count()

171

In [215]:
frame[328:350]

,Text,Dates1,Dates2,Dates3,Dates4
328,s Pt reports long Hx of drug addiction. PLEASE...,None,None,None,None
329,"CLLC and DCF - ended in March, 2000. Psychiatr...",None,None,None,None
330,"""-worked with Uma Dewitt (ED specialist) x 10 ...",None,None,None,April 1988
331,Prozac- highest dose 40 mg; currently on 20 mg...,None,None,None,December 1993
332,)last use in June 1974.Longitudinal Alcohol us...,None,None,None,June 1974
333,sNovember 1997 - suicidal ideation - HHR,None,None,None,November 1997
334,"sAppendectomy in July 1986, shortly after deli...",None,None,None,July 1986
335,"Open appendectomy, as a child. 2. Laparoscopi...",None,None,None,February 1973
336,"sOcella 0.03-3MG TABLET Take 1 PO QD, next pap...",None,None,None,March 1978
337,sWas on lexapro and strattera with good result...,None,None,None,Dec 2007
338,2Last time received treatment was from a life ...,None,None,None,None
339,"Currently on Zoloft, 50 mg, Dicolenac, 100 mg,...",None,None,None,None
340,Future-oriented; recent increase in hope; in s...,None,None,None,May 1980
341,.Nov 2007- Evaluation and treatment at CH ED/A...,None,None,None,Nov 2007
342,5Bethania Hospital March 1976 Hx of Outpatient...,None,None,None,March 1976
343,6/1998 Primary Care Doctor:,None,None,None,None
344,"s 52 y/o MWM h/o chronic depression, anxiety, ...",None,None,None,None
345,10/1973 Hx of Brain Injury: Yes,None,None,None,None
346,9/2005 Primary Care Doctor:,None,None,None,None
347,s 03/1980 Positive PPD: treated with INH for 6...,None,None,None,None
348,12/2005 Family Psych History: Family History o...,None,None,None,None
349,5/1987 Primary Care Doctor:,None,None,None,None

#### few more dates

In [216]:
def extractor5(x):
    dt5 = re.search("\d{1,2}[/-]\d{4}", x)
    if(dt5 != None):
        return dt5.group(0)
    else:
        return None

In [217]:
frame['Dates5'] = frame['Text']

In [218]:
frame['Dates5'] = frame['Dates5'].apply(extractor5)

In [219]:
#frame['Text'][456]

#### extractor 6

In [220]:
def extractor6(x):
    dt6 = re.search("\d{4}", x)
    if(dt6 != None):
        return dt6.group(0)
    else:
        return None

In [221]:
frame['Dates6'] = frame['Text']

In [222]:
frame['Dates6'] = frame['Dates6'].apply(extractor6)

In [223]:
frame['Dates6'][455:460]

455    1984
456    2000
457    2001
458    1982
459    1998
Name: Dates6, dtype: object

In [226]:
frame.shape

(500, 7)

In [227]:
frame[460:500]

,Text,Dates1,Dates2,Dates3,Dates4,Dates5,Dates6
460,1 Ex-smoker : quit 2012,None,None,None,None,None,2012
461,". Age 16, 1991, frontal impact. out for two we...",None,None,None,None,None,1991
462,sLexapro (1988-now): Good response (anxiety),None,None,None,None,None,1988
463,s 25 year old engaged to be married Optic...,None,None,None,None,None,2014
464,8Complications from brain hemmorage in 2016 Ax...,None,None,None,None,None,2016
465,".Age, 19, 1976, playing football, frontal impa...",None,None,None,None,None,1976
466,s1981 Swedish-American Hospital,None,None,None,None,None,1981
467,aS/P suicide attempt 2011 Hx of Outpatient Tre...,None,None,None,None,None,2011
468,Patient has a history of suicidal ideation wit...,None,None,None,None,None,1997
469,"Born and raised in Fowlerville, IN. Parents d...",None,None,None,None,None,2003
470,"y1983 Clinic Hospital, first hospitalization, ...",None,None,None,None,None,1983
471,tProblems Urinary incontinence : mild urge inc...,None,None,None,None,None,1999
472,.2010 - wife; nightmares and angry outbursts; ...,None,None,None,None,None,2010
473,shx of TBI (1975) ISO MVA.Medical History:,None,None,None,None,None,1975
474,sPatient reported losing three friends that pa...,None,None,None,None,None,1972
475,TSH okay in 2015 Prior EKG:,None,None,None,None,None,2015
476,1989 Family Psych History: Family History of S...,None,None,None,None,None,1989
477,"oEnjoys animals, had a dog x 14 yrs who died i...",None,None,None,None,None,1994
478,eHistory of small right parietal subgaleal hem...,None,None,None,None,None,1993
479,sIn KEP Psychiatryfor therapy and medications ...,None,None,None,None,None,1996
480,"1. Esophageal cancer, dx: 2013, on FOLFOX with...",None,None,None,None,None,2013
481,y1974 (all),None,None,None,None,None,1974
482,h/o restraining order by sister/mother in 1990...,None,None,None,None,None,1990
483,sTexas Medical Center; Oklahoma for 2 weeks; 1995,None,None,None,None,None,1995
484,Death of former partner in 2004 by overdose as...,None,None,None,None,None,2004
485,"Was ""average"" student. ""I didn't have too man...",None,None,None,None,None,1987
486,Contemplating jumping off building - 1973 - di...,None,None,None,None,None,1973
487,appendectomy s/p delivery 1992 Prior relevant ...,None,None,None,None,None,1992
488,tProblems renal cell cancer : s/p nephrectomy ...,None,None,None,None,None,1977
489,"ran own business for 35 years, sold in 1985",None,None,None,None,None,1985
490,Lab: B12 969 2007,None,None,None,None,None,2007
491,)and 8mo in 2009,None,None,None,None,None,2009
492,.Moved to USA in 1986. Suffered from malnutrit...,None,None,None,None,None,1986
493,r1978,None,None,None,None,None,1978
494,". Went to Emerson, in Newfane Alaska. Started ...",None,None,None,None,None,2002
495,1979 Family Psych History: Family History of S...,None,None,None,None,None,1979
496,therapist and friend died in ~2006 Parental/Ca...,None,None,None,None,None,2006
497,2008 partial thyroidectomy,None,None,None,None,None,2008
498,sPt describes a history of sexual abuse as a c...,None,None,None,None,None,2005
499,". In 1980, patient was living in Naples and de...",None,None,None,None,None,1980

In [230]:
frame.columns

Index(['Text', 'Dates1', 'Dates2', 'Dates3', 'Dates4', 'Dates5', 'Dates6'], dtype='object')

In [232]:
#frame['Date'] = frame[['Dates1', 'Dates2', 'Dates3', 'Dates4', 'Dates5', 'Dates6']].apply(lambda x: ''.join(x), axis=1)

## Concatenating all columns

In [255]:
new_frame = frame.copy()

In [256]:
new_frame.head()

,Text,Dates1,Dates2,Dates3,Dates4,Dates5,Dates6
0,03/25/93 Total time of visit (in minutes):,03/25/93,None,None,None,None,None
1,6/18/85 Primary Care Doctor:,6/18/85,None,None,None,None,None
2,sshe plans to move as of 7/8/71 In-Home Servic...,7/8/71,None,None,None,None,None
3,7 on 9/27/75 Audit C Score Current:,9/27/75,None,None,None,None,None
4,2/6/96 sleep studyPain Treatment Pain Level (N...,2/6/96,None,None,None,None,None

In [257]:
sep_date = pd.concat([new_frame['Dates1'], new_frame['Dates2'], new_frame['Dates3'], new_frame['Dates4'], new_frame['Dates5'], new_frame['Dates6']], axis=1, join='outer')

In [258]:
sep_date.count()

Dates1    125
Dates2     69
Dates3     30
Dates4    171
Dates5    138
Dates6    428
dtype: int64

In [238]:
#new_frame['Date'] = ('' if new_frame['Dates1'].empty else new_frame['Dates1'].map(str)) + ('' if new_frame['Dates2'].empty else new_frame['Dates2'].map(str))+ ('' if new_frame['Dates3'].empty else new_frame['Dates3'].map(str))+ ('' if new_frame['Dates4'].empty else new_frame['Dates4'].map(str))+ ('' if new_frame['Dates5'].empty else new_frame['Dates5'].map(str))+ ('' if new_frame['Dates6'].empty else new_frame['Dates6'].map(str))

In [240]:
#new_frame['Date'].tail()

495    NoneNoneNoneNoneNone1979
496    NoneNoneNoneNoneNone2006
497    NoneNoneNoneNoneNone2008
498    NoneNoneNoneNoneNone2005
499    NoneNoneNoneNoneNone1980
Name: Date, dtype: object

In [259]:
new_frame.columns

Index(['Text', 'Dates1', 'Dates2', 'Dates3', 'Dates4', 'Dates5', 'Dates6'], dtype='object')

In [275]:
new_frame['New'] = new_frame['Dates1'].fillna(new_frame['Dates2'])

In [284]:
# new_frame['New'][193:]

In [285]:
new_frame.columns

Index(['Text', 'Dates1', 'Dates2', 'Dates3', 'Dates4', 'Dates5', 'Dates6',
       'New'],
      dtype='object')

In [287]:
new_frame['New1'] = new_frame['New'].fillna(new_frame['Dates3'])

In [293]:
# new_frame['New1'][226:]

In [296]:
new_frame['New2'] = new_frame['New1'].fillna(new_frame['Dates4'])

In [297]:
new_frame['New3'] = new_frame['New2'].fillna(new_frame['Dates5'])

In [298]:
new_frame['New4'] = new_frame['New3'].fillna(new_frame['Dates6'])

In [300]:
# new_frame['New4']

In [301]:
new_frame.columns

Index(['Text', 'Dates1', 'Dates2', 'Dates3', 'Dates4', 'Dates5', 'Dates6',
       'New', 'New1', 'New2', 'New3', 'New4'],
      dtype='object')

In [302]:
new_frame.tail()

,Text,Dates1,Dates2,Dates3,Dates4,Dates5,Dates6,New,New1,New2,New3,New4
495,1979 Family Psych History: Family History of S...,None,None,None,None,None,1979,None,None,None,None,1979
496,therapist and friend died in ~2006 Parental/Ca...,None,None,None,None,None,2006,None,None,None,None,2006
497,2008 partial thyroidectomy,None,None,None,None,None,2008,None,None,None,None,2008
498,sPt describes a history of sexual abuse as a c...,None,None,None,None,None,2005,None,None,None,None,2005
499,". In 1980, patient was living in Naples and de...",None,None,None,None,None,1980,None,None,None,None,1980

In [303]:
new_frame.drop(['New', 'New1', 'New2', 'New3'], axis=1, inplace=True)

In [304]:
new_frame.columns

Index(['Text', 'Dates1', 'Dates2', 'Dates3', 'Dates4', 'Dates5', 'Dates6',
       'New4'],
      dtype='object')

In [305]:
new_frame.rename(columns={'New4': 'Date'}, inplace=True)

In [307]:
new_frame.columns

Index(['Text', 'Dates1', 'Dates2', 'Dates3', 'Dates4', 'Dates5', 'Dates6',
       'Date'],
      dtype='object')

In [308]:
new_frame.drop(['Dates1', 'Dates2', 'Dates3', 'Dates4', 'Dates5', 'Dates6'], axis=1, inplace=True)

In [309]:
new_frame.columns

Index(['Text', 'Date'], dtype='object')

In [310]:
new_frame.head()

                                                Text      Date
0         03/25/93 Total time of visit (in minutes):  03/25/93
1                       6/18/85 Primary Care Doctor:   6/18/85
2  sshe plans to move as of 7/8/71 In-Home Servic...    7/8/71
3                7 on 9/27/75 Audit C Score Current:   9/27/75
4  2/6/96 sleep studyPain Treatment Pain Level (N...    2/6/96

In [311]:
new_frame.tail()

                                                  Text  Date
495  1979 Family Psych History: Family History of S...  1979
496  therapist and friend died in ~2006 Parental/Ca...  2006
497                         2008 partial thyroidectomy  2008
498  sPt describes a history of sexual abuse as a c...  2005
499  . In 1980, patient was living in Naples and de...  1980

In [ ]:
new_data